In [16]:
# list barang yang dibeli

barang = [ "pisau","sinsaw", "karung"]
barang1 = ["pisau","gergaji", "apel", "jeruk"]

# dictionary barang yang dibeli

buy = {"pisau":10, "deterjen":20, "sinsaw":30, "karung":40}


# list intersection dari dictionary

def intersection(list1, list2):
    
    list3 = []
    keterangan = ""
    value = 0
    for i in list1:
        if i in list2:
            list3.append(i)
            # menjumlahkan value dari dictionary
            value += buy[i]
    
    if value == 0:
        print("barang tidak ada mencurigakan") 
    elif value == 10:
        print("kemungkinan akan menusuk korban")
    elif value == 20:
       print("kemungkinan akan mencuci") 
    elif value == 30:
        print("kemungkinan akan menusuk korban lalu mencuci")
    elif value == 40:
        print("kemungkinan akan menusuk korban lalu memotong2 dengan sinsaw")
    elif value == 80:
        print("kemungkinan akan menusuk korban lalu memotong2 dimasukin ke dalam  karung")
        
    return list3, value

intersection(barang, buy)

kemungkinan akan menusuk korban lalu memotong2 dimasukin ke dalam  karung

(['pisau', 'sinsaw', 'karung'], 80)

In [115]:
# mengambil data set item barang mencurigakan
import pandas as pd
itemKill = pd.read_csv('./PembunuhanItemrevisi.csv')
itemKill.head()

   ID           Items  Probability Value
0   1        Ski mask                  4
1   2       Detergent                  2
2   3  Sleeping pills                  4
3   4          Hammer                  5
4   5        Chainsaw                  7

In [116]:
#list barang mencurigakan 
listKill=[]  
for i in itemKill['Items']:
    listKill.append(i)
#list nilai barang mencurikagakan
listProbVal=[]
for i in itemKill['Probability Value']:
    listProbVal.append(i)

In [117]:
# contoh list barang yang dibeli
listBarang=["Hammer","Chainsaw","Duct Tape","Shovel"]

In [118]:
#mengubah list barang mencurigakan ke dictionary dengan nilai value
def listToDictionary(list1, list2):
    dictionary = {}
    for i in range(len(list1)):
        dictionary[list1[i]] = list2[i]
    # cek(barang,dictionary)
    return dictionary

data = listToDictionary(listKill,listProbVal)
# menampilkan data dalam bentuk dictionary
print(data)


# intersection dari list dan dictionary
def intersection(list1, list2):
    
    list3 = []
    keterangan = ""
    value = 0
    for i in list1:
        if i in list2:
            list3.append(i)
            # menjumlahkan value dari dictionary
            value += data[i]
    
    persentase = value/100
    return persentase


persentase = intersection(listBarang, data)
print(persentase)

# function cek persentase
def dugaan(persentase):
    if persentase <= 0.3:
        print("Kemungkinan Tingkat kejahatan rendah")
    elif persentase >0.3 and persentase <= 0.6:
        print("Kemungkinan Tingkat kejahatan sedang")
    elif persentase >0.6 and persentase <= 0.8:
        print("Kemungkinan Tingkat kejahatan tinggi")
    elif persentase > 0.8:
        print("Kemungkinan Tingkat kejahatan sangat tinggi")

hasil = dugaan(persentase)

print(hasil)

{'Ski mask': 4, 'Detergent': 2, 'Sleeping pills': 4, 'Hammer': 5, 'Chainsaw': 7, 'Gloves': 3, 'Suitcase': 4, 'Duct Tape': 4, 'Bleach': 2, 'Plastic Bag': 2, 'Shovel': 7, 'Zip Ties': 3, 'Rope': 3, 'Pressure Cooker': 2, 'Boxes of Screws': 3, 'Black Powder': 8, 'Citrus Fruits': 1, 'Razor': 6, 'Knife': 7, 'Tarp': 5, 'Axe': 7, 'Pregnancy Test': 2, 'Clorox': 3, 'Isoprophyl Alcohol': 3, 'Nitrile Gloves': 3}
0.23
Kemungkinan Tingkat kejahatan rendah
None

In [119]:
import pandas as pd

datapembelian = pd.read_csv('./test dataset 25.csv')

datapembelian.head()

,Id Member,Nama,TglPembelian,IdBarang,NamaBarang
0,24daebcd-57ab-4f3b-8f4c-6d2ec7d5ee88,Abubakar Sinclair,14-07-2022,13746,Gloves
1,74deafd9-8689-427d-8718-f8e0c506e30c,Millie-Rose Strickland,14-07-2022,6d840,Ski mask
2,74deafd9-8689-427d-8718-f8e0c506e30c,Millie-Rose Strickland,15-07-2022,13746,Gloves
3,74deafd9-8689-427d-8718-f8e0c506e30c,Millie-Rose Strickland,15-07-2022,65772,Suitcase
4,74deafd9-8689-427d-8718-f8e0c506e30c,Millie-Rose Strickland,15-07-2022,43a92,Knife

In [123]:
# variable data adalah killset
# data frame
listID = []
for i in datapembelian['Id Member']:
    listID.append(i)
            

# cek kesamaan listID dan Id Member maka masukan ke dalam variavle newlist

newlist = []
listbarangnew=[]

n =  int(input("Masukan jumlah barang yang dibeli : "))

for i in range(len(listID)):
    if listID[i] in datapembelian['Id Member'][n]:
        newlist.append(datapembelian['NamaBarang'][i])

In [126]:

def intersection(list1, list2):
    
    list3 = []
    keterangan = ""
    value = 0
    for i in list1:
        if i in list2:
            list3.append(i)
            # menjumlahkan value dari dictionary
            value += data[i]
    
    persentase = value/100
    return persentase

persentase = intersection(newlist, data)

def dugaan(persentase):
    if persentase <= 0.3:
        print("Kemungkinan Tingkat kejahatan rendah")
    elif persentase >0.3 and persentase <= 0.6:
        print("Kemungkinan Tingkat kejahatan sedang")
    elif persentase >0.6 and persentase <= 0.8:
        print("Kemungkinan Tingkat kejahatan tinggi")
    elif persentase > 0.8:
        print("Kemungkinan Tingkat kejahatan sangat tinggi")

hasil = dugaan(persentase)

print(hasil)
print(persentase)

Kemungkinan Tingkat kejahatan rendah
None
0.19